.sectionClosed{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--color4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 90%;
    transition: top 1s;
}

.sectionOpen{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color4);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 24%;
}

.buttonOpenAndClosed {
  position: absolute;
  top: 0;
  background: transparent;
  width: 3rem;
}

.ImgOpenAndClosed {
  width: 2rem;
  margin-top: 6px;
}

.formCart {
  background:var(--color8);
  position:relative;
  top: 7rem;
  width: 101vw;
  height: 22vh;
  padding: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 29px;
}
.TotalDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.TotalDiv {
   font-size: 1.5rem;
}
.BntPronto{
  width: 15vw;
  height: 6vh;
  background-color: var(--color2);
  font-size: 1.5rem;
  border-radius: 10px;
}
.DivName .InputName {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding: 5px;
}
@media screen and (max-width: 495px) {
    .TotalDiv{

        flex-direction: column;
    }
}
