@import "../../reset.css";

.SectionLogin{
  display:flex;
  justify-items:center;
  align-items:center;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
  height: 117vh;
  background: linear-gradient(16.08deg, var(--gradient-color4), var(--gradient-color5));
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: contain;
 
}
.FormLogin{
  display:flex;
  width: 50%;
  justify-items:center;
  align-items:center;
  flex-direction: column;
  gap: 15px;
  margin-top: 0rem;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.select{
  background: var(--inputs);
  border-radius: 5px;
  width: 100%;
  height: 2.5rem;
  padding: 10px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

section .LogoImg{
  width: 15rem;
  margin-left: -47px;
  margin-top: 7px;
}

.register{
  margin: 1rem 1rem 0 1rem;
  color: var(--color5);
  font-size: 1.5rem;
 }

.link{
  color: var(--color4);
}
@media screen and (max-width: 500px){
  .SectionLogin{
    height: 120vh;
  }
}
@media screen and (min-width: 768px){
  .FormLogin{
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .SectionLogin{ 
    flex-direction: row;
  }

  .FormLogin{
    width: 30%;
  }

  section img{
    margin: 12%;
    width: 30rem;
  }
}