@import url('../../reset.css');

.buttonSubmit{
  border-radius: 5px;
  background: linear-gradient(223.26deg, var(--gradient-color2), var(--gradient-color5-1));
  font-size: 1.2rem;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}